@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s" dir="rtl">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6 text-end" dir="rtl">
                <h4 class="text-white mb-3 fo">روابط سريعة</h4>
                <a class="d-block text-light mb-2" href="">
                    من نحن <i class="fa fa-angle-left ms-2"></i>
                </a>
                <a class="d-block text-light mb-2" href="">
                    تواصل معنا <i class="fa fa-angle-left ms-2"></i>
                </a>
                <a class="d-block text-light mb-2" href="">
                    سياسة الخصوصية <i class="fa fa-angle-left ms-2"></i>
                </a>
                <a class="d-block text-light mb-2" href="">
                    الشروط والأحكام <i class="fa fa-angle-left ms-2"></i>
                </a>
                <a class="d-block text-light mb-2" href="">
                    الأسئلة الشائعة والمساعدة <i class="fa fa-angle-left ms-2"></i>
                </a>
            </div>


            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3 fo">معلومات التواصل</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt ms-3"></i>123 شارع، الفيوم، مصر</p>
                <p class="mb-2"><i class="fa fa-phone-alt ms-3"></i>0101 153 1956</p>
                <p class="mb-2"><i class="fa fa-envelope ms-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social ms-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social ms-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social ms-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3 fo">معرض الصور</h4>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fo">
                <h4 class="text-white mb-3 fo">النشرة البريدية</h4>
                <p>اشترك في النشرة البريدية للحصول على أحدث الأخبار والعروض.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 pe-4 ps-5" type="text" placeholder="بريدك الإلكتروني">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 start-0 mt-2 ms-2">اشترك</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-end mb-3 mb-md-0">
                    <a class="border-bottom" href="#">مفهوم</a>  &copy; ، جميع الحقوق محفوظة.
             
                </div>
                <div class="col-md-6 text-center text-md-start">
                    <div class="footer-menu">
                        <a href="">الرئيسية</a>
                        <a href="">ملفات تعريف الارتباط</a>
                        <a href="">المساعدة</a>
                        <a href="">الأسئلة الشائعة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
